{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'asyncmailer/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'asyncmailer/css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'asyncmailer/css/buttons.css' %}"/>
    <link rel="stylesheet" href="{% static 'asyncmailer/css/icheck/skins/flat/green.css' %}"/>

    <script type="text/javascript" src="{% static 'asyncmailer/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'asyncmailer/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'asyncmailer/js/jquery.icheck.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'asyncmailer/js/icheck.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'asyncmailer/js/jquery.cookie.js' %}"></script>


  </head>
    <title>Asyncmailer Manage</title>
  <body>

    <div style="margin:20px;">
      <div class="col-md-3">
        <form id="render">
          {% csrf_token %}


          <div class="form-group">
            <label for="template">Template</label>
            <select class="form-control" id="template" name="template" onchange="setVariation()" onload="setVariation()">
              {% for one in templates %}
              <option id="template-option">{{one}}</option>
              {% endfor %}
            </select>
          </div>

          <br/>

          <div class="form-group">
            <label for="variation">Variation</label>
            <select class="form-control" id="variation" name="variation">

            </select>
          </div>

          <br/>

          <div class="form-group">
            <label for="locale">Locale</label>
            <select class="form-control" id="locale" name="locale">
              <option>English(US)</option>
            </select>
          </div>

          <br/>

          <div class="form-group">
            <label for="inline-style">Inline Styles :</label>
              <input type="radio" id="inline-style" name="inline" value="Off" checked> OFF
              &nbsp;&nbsp;
              <input type="radio" id="inline-style" name="inline" value="On"> ON
            </label>
          </div>

          <br/>

          <div class="form-group">
            <label for="formats">Format :</label>
              <input type="radio" name="formats" value="html" checked> HTML
              &nbsp;&nbsp;
              <input type="radio" name="formats" value="text"> TEXT
            </label>
          </div>

          <button type="button" onClick="preview()" class="button button-glow button-rounded button-raised button-primary" style="display: table;margin: 0 auto;">Render</button>


          <div class="form-group">
            <label for="payload">Payload</label>
              <textarea class="form-control" name="payload" rows="6" placeholder="{'username' : 'newuser', 'token' : '123'}"></textarea>
            </label>
          </div>

        </form>

        <form class="form-inline" id="presend">

          <div class="form-group">
            <input class="form-control" name="email" id="email" type="email" placeholder="Email">
          </div>

          <button type="button" class="button button-glow button-rounded button-royal" onclick="presend()">test send</button>

        </form>

      </div>
      <div class="col-md-9" id="preview"></div>
    </div>

    <script>
    $(document).ready(function(){
      setVariation();
      $('input').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
      });
    });

    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    function preview()
    {
      $.post("retrieve", $("#render").serialize(),
       function(data){
         $('#preview').html(data);
       });
    };

    function presend()
    {
      $.post("presend", $("#render").serialize() + '&' + $("#presend").serialize(),
       function(data){
         alert(data);
       });
    }

    function setVariation()
    {
      $.post("getVariations", {template: $("#template").val()},
      function(data){
        variations = data.split(' ');
        $("#variation").empty();
        for (i = 0; i < variations.length; i++)
        {
          $('#variation').append("<option>" + variations[i] + "</option>");
        }
      });
    };


    </script>
</body>
</html>
